[Unit]
Description=Keift OS Maintenance
After=network.target

[Service]
Type=simple
TimeoutStartSec=infinity
ExecStartPre=/usr/bin/bash -c "while ! ls /home/*/.config/gnome-initial-setup-done &> /dev/null; do sleep 1; done"
ExecStart=/usr/bin/keift-os-maintenance.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target