[Unit]
Description=Keift OS
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/keift-os-startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target