[Unit]
Description=Keift OS Maintenance
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/keiftd.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target