[Unit]
Description=Keift OS Maintenance.
After=internet.target
Wants=internet.target

[Service]
Type=simple
ExecStart=/usr/bin/keift-os-maintenance.sh

[Install]
WantedBy=multi-user.target