[Unit]
Description=Keift OS Maintenance.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/keift-os-maintenance.sh

[Install]
WantedBy=multi-user.target